.card{
    display: inline-block;
    margin: 10px 19px;
    border-top: none; 
    width: 240px; 
}

.card-header{
    padding: 0px; 
}

.card-body{
    width: 100%;
    padding-bottom: 0;
    border-bottom: none;
}

.card-footer{
    border-top: none;
    display: flex;
    justify-content: space-between;
}

/* .list-group-card{
    display: block;
    width: auto;
} */
/* 
.list-group-card .card-header{
    position: absolute;
}

.list-group-card .card-body, .list-group-card .card-footer{
    margin-left: 20%;
}

.checked{
    color: orange;
} */

/* @media only screen and (max-width: 600px) {
    .list-group-card img{
        width: 124px;
        height: 104px;
    }
} */
