.content-section{
    margin: 10px 10px;
    padding: 10px 10px;
    height: 100%;
    background: linear-gradient(to right, #00546c , #e1ebec);
}

h1{
    color: #00546c;
    text-align: center;
    padding: 55px 0 10px ;
}

.left-side , .left-side-log-in{
    text-align: center;
    color: #ffffff;
}

.left-side img{
    margin: 55% 40% 10%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.left-side-log-in img{
    margin: 25% 40% 10%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


.left-side p {
    padding: 5%;
    font-size: 16pt;
}
.right-side{
    background-color: #ffffff;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin: 20px 0;
}

.left-side-log-in p {
    padding: 5%;
    font-size: 16pt;
}
.right-side-log-in{
    background-color: #ffffff;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin: 20px 0;
}

.right-side form{
    margin: 0 auto;
    width: 73%;
    
}

.right-side .log-in{
    width: 50%;
}

.sign-up {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
    padding: 10px;
}

.button button{
    padding: 13px 20px 12px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; 
}

.left-side .btn-login button{
    background-color: #ffffff;
    color: #00546c;
    margin-top: 10%;
    width: 60%;
}

.right-side .btn-submit button{
    background-color: #00546c;
    width: 100%;
}
