{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}

<link href="{% static 'user_access.css' %}" rel="stylesheet" type="text/css" />

<div class="content-section">
    <div class="row">
        <div class="col-md-3 left-side-log-in">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="plane icon" width="60px" height="60px" />
            <h2>Welcome</h2>
            <p>Rmember why your started!</p>
            <div class="button btn-login">
                <button class="btn btn-defult" type="submit">Sign Up</button>
            </div>
        </div>
        <div class="col-md-9 right-side">
            <h1>Joining Today!</h1>
            <form method="POST" class="log-in">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="button btn-submit">
                    <button class="btn btn-defult" type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
