{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}

<link href="{% static 'user_access.css' %}" rel="stylesheet" type="text/css" />

<div class="content-section">
    <h3>Joining Today!</h3>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>

{% endblock %}
