{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link href="{% static 'toaster.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'btn.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'logo.png'%}" alt="" width="60" height="54">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <a class="dropdown-item" href="#">{{ category.category_name }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a href="#" class="btn btn-outline-success logIn">Log In</a>
            <a href="#" class="btn btn-outline-success signUp">Sign Up</a>
        </div>
    </nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success toaster">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="toaster">
        <div class="alert alert-success">
            bla bla bla
        </div>
    </div>

    {% block content %}{% endblock %}

    <div class="footer">
        <div class="row">
            <div class="col-md-5">
                <h5>TeachMe</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    exea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt
                    mollitanim id est laborum.</p>

            </div>
            <div class="col-md-3">
                <ul class="footer-list">
                    <li>Categories</li>
                    <li>About us</li>
                    <li>Contact us</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    exea commodo consequat.</p>
                <form class="d-flex">
                    <input class="form-control" type="email" placeholder="Newsletter" aria-label="Newsletter">
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <p>&copy; - Ashwag Zabani - 2021</p>
    </div>
</body>

</html>

<script>
    $(document.body).ready(function () {
        if (!$(".toaster").is(".show")) {
            setTimeout(function () {
                $(".toaster").removeClass(".show");
                $(".toaster").addClass(".hide");
            }, 1000);
        } else {
            $(".toaster").addClass(".show");
            setTimeout(function () {
                $(".toaster").removeClass(".show");
                $(".toaster").addClass(".hide");
            }, 1000);
            $(".toaster").css("display: none;");
        }
    });
</script>
