{% extends 'base.html'%}
{% load static %}
{% block content%}
<link href="{% static 'index.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'course_card.css' %}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="landing-image">
    <img src="{% static 'landing-image.jpg' %}" class="img-fluid1" alt="landing-image" />
</div>

<div class="container-fluid">

    <div class="top-courses-list">
        <div class="main">
            <h1>Top Courses</h1>
            <div>
                <p onclick="listView()"><i class="fa fa-bars"></i></p>
                <p onclick="gridView()"><i class="fa fa-th-large"></i></p>
            </div>
        </div>


        {% for course in courses %}

        <div class="card">
            <div class="card-header">
                <img src="{% static 'landing-image.jpg' %}" alt="landing-image" width="240" height="200" />
            </div>
            <div class="card-body">
                <h5>{{ course.subject|truncatewords:6 }}</h5>
                <div class="card-subtitle mb-2 text-muted">
                    <p>{{ course.author }}</p>
                    <span><b class="checked">{{ course.age }}</b></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span>(12)</span>
                </div>
            </div>

            <div class="card-footer">
                <h5>$19.99</h5>
                <button class="btn btn-primary">Show more</button>
            </div>
        </div>

        {% endfor %}

    </div>


    <!-- {% for course in courses %}

    <div class="card list-group-card">
        <div class="card-header">
            <img src="{% static 'landing-image.jpg' %}" class="img-fluid" alt="landing-image" width="240"
                height="200" />
        </div>
        <div class="card-body">
            <h5>{{ course.subject|truncatewords:6 }}</h5>
            <div class="card-subtitle mb-2 text-muted">
                <p>{{ course.author }}</p>
                <span><b class="checked">{{ course.age }}</b></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span>(12)</span>
            </div>
        </div>

        <div class="card-footer">
            <h5>$19.99</h5>
            <button class="btn btn-primary">Show more</button>
        </div>
    </div>

    {% endfor %} -->

</div>
</div>

{% endblock %}

<script>
    function listView() {

    }
</script>
